body {
  background-color: black;
}

.radius-1rem {
  --radius: 1rem;
  height: 4rem;
}

.poly-test {
  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 25%,
    100% 75%,
    75% 100%,
    25% 100%,
    0% 75%,
    0% 25%
  );
  background-color: white;
  width: 4rem;
  height: 4rem;
}
