body {
  display: grid;
  gap: 1rem;
  background-color: grey;
}

.white {
  background-color: white;
}

.rounded {
  border-radius: var(--radius);
}

.radius-1rem {
  --squircle-radius: 1rem;
  --squircle-fill: red;
  --squircle-border-width: 8px;
  --squircle-border-color: blue;
  height: 16rem;
}
