body {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 16rem 16rem;
  background-color: grey;
}

.rounded {
  border-radius: var(--squircle-radius);
  background-color: var(--squircle-fill);
  border-width: var(--squircle-border-width);
  border-color: var(--squircle-border-color);
  border-style: solid;
}

.radius-1rem {
  --squircle-radius: 1rem;
  --squircle-fill: hsla(180deg 50% 50% / 0.5);
  --squircle-border-width: 8px;
  --squircle-border-color: transparent;
}
