body {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 16rem 16rem;
  background-color: grey;
}

.rounded {
  border-radius: var(--squircle-border-radius);
  border-width: var(--squircle-border-width);
  background-color: var(--squircle-background-color);
  border-color: var(--squircle-border-color);
  border-style: solid;
}

.radius-1rem {
  --squircle-border-radius: 2rem;
  --squircle-border-width: 0.5rem;
  --squircle-background-color: hsla(120deg 50% 50% / 0.5);
  --squircle-border-color: hsla(240deg 50% 50% / 0.2);
}
