.theme-latte {
  --text: #4c4f69;
  --subtext-1: #5c5f77;
  --subtext-0: #6c6f85;
  --overlay-2: #7c7f93;
  --overlay-1: #8c8fa1;
  --overlay-0: #9ca0b0;
  --surface-2: #acb0be;
  --surface-1: #bcc0cc;
  --surface-0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
}

.theme-frappe {
  --text: #c6d0f5;
  --subtext-1: #b5bfe2;
  --subtext-0: #a5adce;
  --overlay-2: #949cbb;
  --overlay-1: #838ba7;
  --overlay-0: #737994;
  --surface-2: #626880;
  --surface-1: #51576d;
  --surface-0: #414559;
  --base: #303446;
  --mantle: #292c3c;
  --crust: #232634;
  --rosewater: #f2d5cf;
  --flamingo: #eebebe;
  --pink: #f4b8e4;
  --mauve: #ca9ee6;
  --red: #e78284;
  --maroon: #ea999c;
  --peach: #ef9f76;
  --yellow: #e5c890;
  --green: #a6d189;
  --teal: #81c8be;
  --sky: #99d1db;
  --sapphire: #85c1dc;
  --blue: #8caaee;
  --lavender: #babbf1;
}

@property --subtext-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --subtext-0 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --overlay-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --overlay-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --overlay-0 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --surface-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --surface-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --surface-0 {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --base {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --mantle {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --crust {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --rosewater {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --flamingo {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --pink {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --mauve {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --red {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --maroon {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --peach {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --yellow {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --green {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --teal {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --sky {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --sapphire {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --blue {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
@property --lavender {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}
