---
---

*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-items: stretch;
  align-items: stretch;
}

.th-squircle {
  contain: strict;
}
