---
---

*,
*::after,
*::before {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "full";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-items: stretch;
  align-items: stretch;
}

#squircle-canvas {
  grid-area: full;
  width: 100%;
  height: 100%;
}

.canvas-standin {
  grid-area: full;
  width: 100%;
  height: 100%;
  background-color: black;
}
