.squircle {
  border-radius: var(--squircle-radius);
  background-color: var(--squircle-fill);
  border-color: var(--squircle-border-color);
  border-width: var(--squircle-border-width);
  border-style: solid;
}

@supports (paint(id)) {
  .squircle {
    border-color: initial;
    border-width: initial;
    border-radius: initial;
    border-style: initial;
    background: paint(squircle);
  }
}
