.squircle {
  background: var(--squircle-background-color);
  border-radius: var(--squircle-border-radius);
  border-color: var(--squircle-border-color);
  border-width: var(--squircle-border-width);
  border-style: solid;
}

ce-squircle[impl="canvas"] {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "fill";
}

ce-squircle[impl="canvas"] > * {
  grid-area: fill;
}

.ce-squircle-canvas--canvas {
  contain: strict;
  z-index: -1000;
}

@supports (background: paint(id)) {
  .squircle {
    background: paint(squircle);
    border-radius: initial;
    border-color: initial;
    border-width: initial;
    border-style: initial;
  }
}

@property --squircle-background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --squircle-border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --squircle-border-radius {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --squircle-border-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}
